.search-block {
    width: 100%;
    height: 70px;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 0px 35px 0px 40px;
    box-sizing: border-box;
}
@media screen and (max-width: 1629px) {
    .search-block {
        padding: 0;
    }
}
@media screen and (max-width: 1115px) {
    .search-block {
        position: absolute;
        top: 155px;
        left: 184px;
        width: calc(100vw - 390px);
        height: 40px;
    }
}
@media screen and (max-width: 890px) {
    
}
@media screen and (max-width: 680px) {
    .search-block {
        top: -57px;
        left: 30px;
        width: calc(100vw - 60px);
        padding: 0;
    }
}