.header__border {
    height: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1629px) {
    .header__border {
        margin-left: 5px;
    }
}
@media screen and (max-width: 1115px) {
    .header__border {
        display: none;
    }
}