.header__inner {
    max-width: 1520px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 1629px) {
    .header__inner {
        width: 100%;
        padding: 0 43px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1150px) {
    .header__inner {
        padding: 0 23px;
    }
}
@media screen and (max-width: 1115px) {

}
@media screen and (max-width: 890px) {

}
@media screen and (max-width: 680px) {
    .header__inner {
        padding: 0;
    }
}