.header__menu-mobile {
    width: 112px;
    height: 22px;
    background: url('../../../images/header/svg/menu-mobile.svg');
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 680px) {
    .header__menu-mobile {
        display: block;
    }
}