.cat-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 32px;
}
@media screen and (max-width: 1629px) {
    .cat-menu {
        gap: 10px;
    }
}
@media screen and (max-width: 1115px) {
    .cat-menu {
        display: none;
    }
}