.search-block__form {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
@media screen and (max-width: 1629px) {
    .search-block__form {
        padding: 0 10px 0 22px;
    }
}
@media screen and (max-width: 1115px) {
    .search-block__form {
        padding: 0 14px 0 18px;
    }
}