.header-top {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 25px;
}
@media screen and (max-width: 1115px) {
    .header-top {
        padding: 22px 0 20px;
    }
}
@media screen and (max-width: 680px) {
    .header-top {
        position: absolute;
        top: 56px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    } 
}