.header-top__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 31px;
}
@media screen and (max-width: 1629px) {
    .header-top__menu {
        display: none;
    }
    .header-top__info:hover .header-top__menu {
        display: block;
        position: absolute;
        z-index: 999;
        top: 15px;
        left: 0;
        background: #fff;
        padding: 5px;
        box-shadow: 0 3px 3px #d8d8d8;
        border-radius: 5px;
        width: 180px;
    }
}