.header__all-menu-link {
    cursor: pointer;                
}
.header__all-menu-link path {
    transition: all .3s ease-in-out;
}
.header__all-menu-link:hover path {
    stroke: #4bb1bc;
}
@media screen and (max-width: 1115px) {
    .header__all-menu-link {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}