.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 680px) {
    .header-middle {
        position: absolute;
        top: 149px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
}